/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: border-only style for all Vaadin textfields . */
[part="input-field"] {
    background-color: green;
    border-style: solid;
    border-width: thin;
    border-color: gray;
}